$number_of_fields: 9;

.view#about {
  width: 95%;
  max-width: 600px;

  .content {
    height: 100%;
    position: relative;
  }

  .social {
    margin: 10px 0;

    .icon-social {
      margin: 0 10px;
      display: inline-block;
      cursor: pointer;

      i {
        color: black;
        padding: 5px 10px;
        font-size: 24px;
        transition: color 0.4s ease;
        -moz-transition: color 0.4s ease;
        -webkit-transition: color 0.4s ease;
      }

      &:first-child {
        margin: 5px 10px 0 0;
      }

      &:last-child {
        margin: 5px 0 0 10px;
      }

      &:hover {

        i {
          color: #ef5350;
        }
      }
    }
  }

  .iscroll {
    position: absolute;
    top: 110px;
    bottom: 70px;
  }

  .content {
    opacity: 0;
    visibility: hidden;
    transition: all 0.8s ease;
    -moz-transition: all 0.8s ease;
    -webkit-transition: all 0.8s ease;
    transition-delay: 0.5s;
    -moz-transition-delay: 0.5s;
    -webkit-transition-delay: 0.5s;
    transform: translateX(100%);
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);

    .details {

      p {
        text-align: justify;
        margin: 0 0 10px;
      }
    }

    .bio {

      .details {
        padding-right: 10px;
      }

      .field {
        margin-bottom: 20px;
        position: relative;
        transition: transform 0.7s ease;
        -moz-transition: transform 0.7s ease;
        -webkit-transition: transform 0.7s ease;
        transform: translateX(120%);
        -moz-transform: translateX(120%);
        -webkit-transform: translateX(120%);

        label {
          display: inline-block;
          margin-right: 10px;
          min-width: 110px;
          max-width: 110px;
        }

        p, a {
          display: inline-block;
          margin: 0;
          font-size: 18px;
          color: black;
        }

        a {

          &:hover {
            text-decoration: none;
          }
        }

        &:after {
          content: '';
          position: absolute;
          bottom: -7px;
          left: 0;
          width: 30px;
          height: 3px;
          background-color: #ef5350;
        }

        @for $i from 1 through $number_of_fields {
          &:nth-child(#{$i}) {
            $delay: 0.2 * $i;

            transition-delay: #{$delay}s;
            -moz-transition-delay: #{$delay}s;
            -webkit-transition-delay: #{$delay}s;
          }
        }
      }

      .field-button {
        background: #ef5350;
        display: inline-block;
        text-align: center;
        border-radius: 8px;
        height: 30px;
        margin-bottom: 10px;
        cursor: pointer;
        transition: all 0.1s ease;
        -moz-transition: all 0.1s ease;
        -webkit-transition: all 0.1s ease;

        a {
          padding: 10px 9px;
          line-height: 32px;
          font-size: 14px;
          text-transform: uppercase;
          text-decoration: none;
          color: white;
          transition: color 0.4s ease;
          -moz-transition: color 0.4s ease;
          -webkit-transition: color 0.4s ease;
        }

        &:hover {
          background: white;

          a {
            color: #ef5350
          }
        }

        &:active {
          background: black;
        }
      }
    }
  }

  &.active {

    .content {
      opacity: 1;
      visibility: visible;
      transform: translateX(0);
      -moz-transform: translateX(0);
      -webkit-transform: translateX(0);

      .bio {

        .field {
          transform: translateX(0);
          -moz-transform: translateX(0);
          -webkit-transform: translateX(0);
        }
      }
    }
  }
}