$number_of_fields: 4;

.overlay {
  @include breakpoint(470px) {
    overflow-y: auto;
    overflow-x: hidden;
  }

  .overlay-view {
    opacity: 1;
    transform: translateX(0);
    -moz-transform: translateX(0);
    -webkit-transform: translateX(0);
    transition: opacity 0.7s ease, transform 0.7s ease;
    -moz-transition: opacity 0.7s ease, transform 0.7s ease;
    -webkit-transition: opacity 0.7s ease, transform 0.7s ease;
  }

  .overlay-view#work {
    text-align: center;

    .heading {
      position: relative;
      margin-top: 20px;
      @include breakpoint(470px) {
        width: 90%;
        margin: 20px auto 0;
        max-width: 320px;
      }

      .details {
        position: relative;
        z-index: 2;
        padding: 7px 5px;
        margin-top: 40px;
        box-sizing: border-box;
      }
    }

    .content {

      p {
        margin: 4px 0;
      }

      p, span, strong, i, li {
        color: white;
        font-family: $font_light;
        font-size: 18px;
        line-height: 20px;
      }

      a {
        text-decoration: underline;

        &:hover {
          text-decoration: none;
        }
      }
    }

    .work-details {
      box-sizing: border-box;
      padding: 0 10px;
      max-width: 768px;
      margin: auto;
    }

    .field {
      margin: 0 0 15px;
      opacity: 0;
      transform: translateX(-100%);
      -moz-transform: translateX(-100%);
      -webkit-transform: translateX(-100%);
      transition: all 1s ease;
      -moz-transition: all 1s ease;
      -webkit-transition: all 1s ease;

      label {
        font-size: 11px;
        color: white;
        font-family: $font_light;
        text-transform: uppercase;
        display: block;
      }

      .value {
        display: inline-block;
        color: white;
      }

      .title {
        display: inline-block;
        font-family: $font_light;
        font-size: 32px;
        margin: 0;
        color: white;
      }

      .website {
        color: white;
        font-family: $font_light;

        &:hover {
          text-decoration: none;
        }
      }

      .date {
        margin: 0;
        font-size: 16px;
        font-family: $font_light;
        display: inline-block;
        color: white;
      }

      .duration {
        margin: 0px 4px;
        font-size: 12px;
        font-family: $font_light;
        display: inline-block;
        color: white;
      }

      .position {
        font-size: 18px;
        color: white;
        font-family: $font_light;
        margin: 0;
      }

      @for $i from 1 through $number_of_fields {
        &:nth-child(#{$i}) {
          $delay: 0.1 * $i;
          transition-delay: #{$delay}s;
          -moz-transition-delay: #{$delay}s;
          -webkit-transition-delay: #{$delay}s;
        }
      }
    }

    .sep {
      width: 240px;
      height: 1px;
      background-color: #868686;
      margin: 20px auto 10px;
      opacity: 0;
      transform: translateX(-100%);
      -moz-transform: translateX(-100%);
      -webkit-transform: translateX(-100%);
      transition: all 1s ease;
      -moz-transition: all 1s ease;
      -webkit-transition: all 1s ease;
      transition-delay: 0.5s;
      -moz-transition-delay: 0.5s;
      -webkit-transition-delay: 0.5s;
    }

    .technologies {
      margin-top: 20px;
      width: 420px;
      text-align: center;
      margin: auto;
      opacity: 0;
      transform: translateX(-100%);
      -moz-transform: translateX(-100%);
      -webkit-transform: translateX(-100%);
      transition: all 1s ease;
      -moz-transition: all 1s ease;
      -webkit-transition: all 1s ease;
      transition-delay: 0.6s;
      -moz-transition-delay: 0.6s;
      -webkit-transition-delay: 0.6s;

      label {
        font-size: 11px;
        color: white;
        font-family: $font_light;
        text-transform: uppercase;
        display: block;
      }

      .list {

        .item {
          display: inline-block;
          margin: 5px;
          background-color: #ef5350;
          padding: 2px 12px;
          border-radius: 14px;
          cursor: default;
          transition: background-color 0.4s ease;
          -moz-transition: background-color 0.4s ease;
          -webkit-transition: background-color 0.4s ease;

          p {
            margin: 0;
            color: white;
            font-size: 12px;
            transition: color 0.4s ease;
            -moz-transition: color 0.4s ease;
            -webkit-transition: color 0.4s ease;
          }

          &:hover {
            background-color: white;

            p {
              color: black;
            }
          }
        }
      }
    }

    .projects {
      width: 95%;
      margin: 20px auto 0;
      padding-bottom: 10px;
      text-align: left;
      opacity: 0;
      transform: translateX(-100%);
      -moz-transform: translateX(-100%);
      -webkit-transform: translateX(-100%);
      transition: all 1s ease;
      -moz-transition: all 1s ease;
      -webkit-transition: all 1s ease;
      transition-delay: 0.5s;
      -moz-transition-delay: 0.5s;
      -webkit-transition-delay: 0.5s;
      @include breakpoint(470px) {
        width: 80%;
      }

      label {
        font-size: 11px;
        color: white;
        font-family: $font_light;
        text-transform: uppercase;
        display: block;
        text-align: center;
      }

      .project-count {
        margin: 0px 0 0 4px;
        display: inline-block;
      }

      .note {
        margin: 7px 0 0;
        text-align: center;
        font-size: 13px;
        font-style: italic;
        color: white;
        font-family: $font_light;
      }

      .list {
        margin-top: 10px;
        text-align: center;
        max-height: 600px;
        overflow: hidden;
        position: relative;
        @include maxheight(700px) {
          max-height: 270px;
        }

        @include breakpoint(470px) {
          max-height: 9999px;
        }

        .no-data {
          color: #d0d0d0;
          font-family: $font_light;
          text-align: center;
          font-size: 18px;
          font-style: italic;
          margin: 10px 0 0;
        }

        .project {
          display: inline-block;
          width: 33%;
          margin: 0;
          box-sizing: border-box;
          height: 260px;
          max-width: 416px;
          position: relative;
          overflow: hidden;
          border: 4px solid transparent;
          transition: border 0.1s ease;
          -moz-transition: border 0.1s ease;
          -webkit-transition: border 0.1s ease;
          @include breakpoint(720px) {
            width: 49.99%;
          }

          @include breakpoint(470px) {
            width: 95%;
            margin: 10px auto;
          }

          @include breakpoint(360px) {
            height: 220px;
          }

          .image {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 0;
            height: 100%;
            width: 100%;

            .opaque {
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              z-index: 1;
              background-color: rgba(0, 0, 0, 0.7);
            }

            img {
              width: 100%;
              height: 100%;
            }
          }

          .details {
            position: relative;
            z-index: 1;
            height: 100%;
            box-sizing: border-box;
            padding-top: 60px;

            .title {
              margin: 0 0 10px;
              color: white;
              font-family: $font_light;
              font-size: 24px;
            }

            .technologies {
              width: 90%;
              margin: auto;

              .item {
                display: inline-block;
                margin: 5px;
                background-color: #ef5350;
                padding: 2px 12px;
                border-radius: 14px;
                cursor: default;
                transition: background-color 0.4s ease;
                -moz-transition: background-color 0.4s ease;
                -webkit-transition: background-color 0.4s ease;

                p {
                  margin: 0;
                  color: white;
                  font-size: 12px;
                  transition: color 0.4s ease;
                  -moz-transition: color 0.4s ease;
                  -webkit-transition: color 0.4s ease;
                }

                &:hover {
                  background-color: white;

                  p {
                    color: black;
                  }
                }
              }
            }
          }

          &:hover {
            border: 4px solid white;
          }

          &:active {
            border: 4px solid #ef5350;
          }
        }
      }
    }

    &.hidden {
      opacity: 0;
      transform: translateX(-100%);
      -moz-transform: translateX(-100%);
      -webkit-transform: translateX(-100%);
    }

    &.loading {

      .loader {
        opacity: 1;
        visibility: visible;
        max-height: 40px;
      }
    }
  }

  .overlay-view#project {
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;

    .heading {

      .image {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
        height: 100%;
        width: 100%;

        .opaque {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          z-index: 1;
          background-color: rgba(0, 0, 0, 0.7);
        }

        img {
          width: 100%;
          height: 100%;
        }
      }

      .details {
        position: relative;
        z-index: 1;
        height: 100%;
        box-sizing: border-box;
        padding-top: 60px;

        .title {
          margin: 0 0 10px;
          color: white;
          font-family: $font_light;
          font-size: 24px;
        }

        .technologies {
          width: 90%;
          margin: auto;

          .item {
            display: inline-block;
            margin: 5px;
            background-color: #ef5350;
            padding: 2px 12px;
            border-radius: 14px;
            cursor: default;
            transition: background-color 0.4s ease;
            -moz-transition: background-color 0.4s ease;
            -webkit-transition: background-color 0.4s ease;

            p {
              margin: 0;
              color: white;
              font-size: 12px;
              transition: color 0.4s ease;
              -moz-transition: color 0.4s ease;
              -webkit-transition: color 0.4s ease;
            }

            &:hover {
              background-color: white;

              p {
                color: black;
              }
            }
          }
        }
      }
    }

    .field {
      margin: 0 0 15px;

      label {
        font-size: 11px;
        color: white;
        font-family: $font_light;
        text-transform: uppercase;
        display: block;
      }

      .value {
        display: inline-block;
        color: white;
      }

      .title {
        display: inline-block;
        font-family: $font_light;
        font-size: 32px;
        margin: 0;
        color: white;
      }

      .description {
        box-sizing: border-box;
        padding: 0 10px;
        max-width: 768px;
        margin: auto;
      }

      .website {
        color: white;
        font-family: $font_light;

        &:hover {
          text-decoration: none;
        }
      }
    }

    &.hidden {
      opacity: 0;
      transform: translateX(100%);
      -moz-transform: translateX(100%);
      -webkit-transform: translateX(100%);
    }
  }

  &.active {

    .overlay-view#work {

      .field,
      .sep,
      .technologies,
      .projects {
        opacity: 1;
        transform: translateX(0);
        -moz-transform: translateX(0);
        -webkit-transform: translateX(0);
      }
    }
  }
}