.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.8);
  z-index: 99;
  visibility: hidden;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+8,000000+100&0.6+75,0+100 */
  background: -moz-linear-gradient(left,  rgba(0,0,0,0.6) 8%, rgba(0,0,0,0.6) 75%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left,  rgba(0,0,0,0.6) 8%,rgba(0,0,0,0.6) 75%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right,  rgba(0,0,0,0.6) 8%,rgba(0,0,0,0.6) 75%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#99000000', endColorstr='#00000000',GradientType=1 ); /* IE6-9 */
  background-size: 200% 100%;
  background-repeat: no-repeat;
  background-position-x: 200%;
  transition: all 1.5s ease;
  -moz-transition: all 1.5s ease;
  -webkit-transition: all 1.5s ease;
  @include breakpoint(420px) {
    background: transparent;
    background-size: 100% 100%;
    background-position-x: 0px;
  }

  .close#close {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 50px;
    height: 50px;
    overflow: hidden;
    cursor: pointer;
    border-radius: 50%;
    z-index: 1;
    opacity: 0;
    background: transparent;
    transform: translateY(-100%) rotateZ(-43deg);
    -moz-transform: translateY(-100%) rotateZ(-43deg);
    -webkit-transform: translateY(-100%) rotateZ(-43deg);
    transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;

    div {
      height: 4px;
      width: 26px;
      background-color: #ef5350;
      position: absolute;
      border-radius: 8px;
      transition: all 0.4s ease;
      -moz-transition: all 0.4s ease;
      -webkit-transition: all 0.4s ease;

      &:nth-child(1) {
        top: 0px;
        transform: rotateZ(87deg) translate3d(22px,-11px,0);
      }

      &:nth-child(2) {
        top: 10px;
        transform: rotateZ(-1deg) translate3d(12px,12px,0);
      }

      &:nth-child(3) {
        visibility: hidden;
        opacity: 0;
      }
    }
    
    &.back {
      right: 96%;
      transition: all 1s ease;
      -moz-transition: all 1s ease;
      -webkit-transition: all 1s ease;
      @include breakpoint(1060px) {
        right: 92%;
      }

      @include breakpoint(470px) {
        right: initial;
        left: 10px;
      }

      div {
        height: 4px;
        width: 26px;
        background-color: #ef5350;
        position: absolute;
        border-radius: 8px;
        transition: all 1.5s ease;
        -moz-transition: all 1.5s ease;
        -webkit-transition: all 1.5s ease;

        &:nth-child(1) {
          top: 0px;
          transform: rotateZ(87deg) translate3d(26px,4px,0);
        }

        &:nth-child(2) {
          top: 10px;
          transform: rotateZ(-1deg) translate3d(8px,5px,0);
        }

        &:nth-child(3) {
          visibility: visible;
          opacity: 1;
          transform: rotateZ(43deg) translate3d(23px,17px,0);
          width: 38px;
        }
      }
    }

    &:hover {

      div {
        background-color: white;
      }
    }

    &:active {

      div {
        background-color: black;
      }
    }
  }

  &.show {
    visibility: visible;
    background-position-x: 0;
    @include breakpoint(420px) {
      background: rgba(0, 0, 0, 0.8);
    }
  }

  &.active {

    .close#close {
      opacity: 1;
      transform: translateY(0) rotateZ(-43deg);
      -moz-transform: translateY(0) rotateZ(-43deg);
      -webkit-transform: translateY(0) rotateZ(-43deg);
    }
  }
}