.navigation-toggle {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 10px;
  left: 10px;
  height: 44px;
  width: 44px;
  cursor: pointer;
  @include breakpoint(570px) {
    opacity: 1;
    visibility: visible;
  }

  @include breakpoint(360px) {
    border-radius: 6px;
    padding: 5px;
    background-color: rgba(255, 255 ,255, 0.9);
    z-index: 9;
  }

  & > div {
    margin: 6px auto;
    width: 95%;
    height: 6px;
    background-color: black;
    border-radius: 12px;
    transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
  }

  &:hover {

    & > div {
      background-color: #ef5552;
    }
  }

  &:active {

    & > {
      background-color: white;
    }
  }
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 240px;
  height: 100%;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ef5350+0,e86a68+100 */
  background: rgb(239,83,80); /* Old browsers */
  background: -moz-linear-gradient(left,  rgba(239,83,80,1) 0%, rgba(232,106,104,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left,  rgba(239,83,80,1) 0%,rgba(232,106,104,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right,  rgba(239,83,80,1) 0%,rgba(232,106,104,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ef5350', endColorstr='#e86a68',GradientType=1 ); /* IE6-9 */
  @include breakpoint(570px) {
    z-index: 10;
    transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transition: transform 0.5s ease;
    -moz-transition: transform 0.5s ease;
    -webkit-transition: transform 0.5s ease;
  }

  .nav-menu {
    padding: 0;
    list-style-type: none;

    .menu-item {
      text-align: left;
      box-sizing: border-box;
      position: relative;
      padding: 15px 0 15px 20px;
      border-bottom: 1px solid transparent;

      a {
        color: white;
        text-decoration: none;
        padding: 15px 20px;
        cursor: pointer;
        margin: 0;
        font-size: 15px;
      }

      &.active {
        cursor: default;

        &:after {
          width: 100%;
        }
      }

      &:hover {
        cursor: pointer;

        &:after {
          width: 100%;
          animation: neonLightBorder 4s ease;
          -webkit-animation: neonLightBorder 4s ease;
          animation-fill-mode: forwards;
          -webkit-animation-fill-mode: forwards;
          animation-iteration-count: infinite;
          -webkit-animation-iteration-count: infinite;
        }
      }

      &:after {
        content: '';
        position: absolute;
        bottom: -1px;
        right: 0;
        width: 0%;
        height: 1px;
        background-color: white;
        transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
        -moz-transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
        -webkit-transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
      }
    }
  }

  .logo {
    width: 180px;
    height: auto;
    margin: 20px auto 0;

    img {
      width: 100%;
      height: auto;
    }
  }

  &.active {
    transform: translateX(0);
    -moz-transform: translateX(0);
    -webkit-transform: translateX(0);
  }
}

@keyframes neonLightBorder {
  0% {
    background-color: #da4e4e;
  }

  30% {
    background-color: white;
  }

  50% {
    background-color: #da4e4e;
  }

  100% {
    background-color: #da4e4e;
  }
}

@-webkit-keyframes neonLightBorder {
  0% {
    background-color: #da4e4e;
  }

  30% {
    background-color: white;
  }

  50% {
    background-color: #da4e4e;
  }

  100% {
    background-color: #da4e4e;
  }
}