$number_of_fields: 14;

.view#skills {
  width: 95%;
  max-width: 600px;

  .skill-list {
    position: absolute;
    top: 90px;
    left: 0;
    bottom: 60px;
    width: 100%;
    box-sizing: border-box;
    @include breakpoint(470px) {
      left: 15px;
      right: 95%;
      margin: auto;
    }

    .field {
      width: 100%;
      display: block;
      overflow: hidden;
      margin: 7px 0;
      min-height: 75px;
      opacity: 0;
      position: relative;
      padding-bottom: 5px;
      border-bottom: 1px solid #f7f7f7;
      transition: opacity 0.4s ease;
      -moz-transition: opacity 0.4s ease;
      -webkit-transition: opacity 0.4s ease;

      .graph {
        box-sizing: border-box;
        padding: 20px 95px 0 0;

        .title {
          margin: 0 0 4px;
          font-size: 18px;
          font-family: $font_light;
          transform: translateX(-100%);
          -moz-transform: translateX(-100%);
          -webkit-transform: translateX(-100%);
          transition: all 0.2s ease;
          -moz-transition: all 0.2s ease;
          -webkit-transition: all 0.2s ease;
        }

        .bar {
          height: 24px;
          width: 0%;
          top: 0;
          left: 0;
          transition: all 0.7s ease;
          -moz-transition: all 0.7s ease;
          -webkit-transition: all 0.7s ease;
        }

        .value {
          font-family: $font_light;
          font-size: 16px;
          position: absolute;
          color: white;
          margin: 2px 0 0 6px;
        }
      }

      .skill-icon {
        background-image: url(../img/logos.png);
        background-repeat: no-repeat;
        height: 75px;
        width: 75px;
        background-size: 1078px 75px;
        position: absolute;
        top: 5px;
        right: 10px;
        transform: translateX(100%);
        -moz-transform: translateX(100%);
        -webkit-transform: translateX(100%);
        transition: all 0.2s ease;
        -moz-transition: all 0.2s ease;
        -webkit-transition: all 0.2s ease;
        @include breakpoint(420px) {
          right: 22px;
        }
      }

      @for $i from 1 through $number_of_fields {
        &:nth-child(#{$i}) {
          $delay: 0.2 * $i;

          .graph {

            .bar {
              transition-delay: #{$delay}s;
              -moz-transition-delay: #{$delay}s;
              -webkit-transition-delay: #{$delay}s;
            }
          }

          .skill-icon {
            transition-delay: #{$delay}s;
            -moz-transition-delay: #{$delay}s;
            -webkit-transition-delay: #{$delay}s;
          }
        }
      }
    }
  }

  &.active {

    .skill-list {

      .field {
        opacity: 1;

        .graph {

          .title {
            transform: translateX(0);
            -moz-transform: translateX(0);
            -webkit-transform: translateX(0);
          }

          .bar {
            @for $i from 1 through 100 {
              &.bar-#{$i} {
                width: #{$i}#{'%'};
              }
            }
          }
        }

        .skill-icon {
          transform: translateX(0);
          -moz-transform: translateX(0);
          -webkit-transform: translateX(0);
        }
      }
    }
  }
}