@charset "UTF-8";
@import url(normalize.css);
@import url(font-awesome.min.css);
@font-face {
  font-family: 'Lato-Bold';
  src: url("../fonts/Lato-Bold.eot");
  src: url("../fonts/Lato-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato-Bold.woff2") format("woff2"), url("../fonts/Lato-Bold.woff") format("woff"), url("../fonts/Lato-Bold.ttf") format("truetype"), url("../fonts/Lato-Bold.svg#Lato-Bold") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Lato-Light';
  src: url("../fonts/Lato-Light.eot");
  src: url("../fonts/Lato-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato-Light.woff2") format("woff2"), url("../fonts/Lato-Light.woff") format("woff"), url("../fonts/Lato-Light.ttf") format("truetype"), url("../fonts/Lato-Light.svg#Lato-Light") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Lato-Regular';
  src: url("../fonts/Lato-Regular.eot");
  src: url("../fonts/Lato-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato-Regular.woff2") format("woff2"), url("../fonts/Lato-Regular.woff") format("woff"), url("../fonts/Lato-Regular.svg#Lato-Light") format("svg");
  font-weight: normal;
  font-style: normal; }
/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

/* Slider */
.slick-loading .slick-list {
  background: #fff url(img/ajax-loader.gif) center center no-repeat; }

/* Icons */
@font-face {
  font-family: "slick";
  src: url("fonts/slick.eot");
  src: url("fonts/slick.eot?#iefix") format("embedded-opentype"), url("fonts/slick.woff") format("woff"), url("fonts/slick.ttf") format("truetype"), url("fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal; }
/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  margin-top: -10px;
  padding: 0;
  border: none;
  outline: none; }
  .slick-prev:hover, .slick-prev:focus,
  .slick-next:hover,
  .slick-next:focus {
    outline: none;
    background: transparent;
    color: transparent; }
    .slick-prev:hover:before, .slick-prev:focus:before,
    .slick-next:hover:before,
    .slick-next:focus:before {
      opacity: 1; }
  .slick-prev.slick-disabled:before,
  .slick-next.slick-disabled:before {
    opacity: 0.25; }

.slick-prev:before, .slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  color: white;
  opacity: 0.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.slick-prev {
  left: 0px; }
  [dir="rtl"] .slick-prev {
    left: auto;
    right: -25px; }
  .slick-prev:before {
    content: "←"; }
    [dir="rtl"] .slick-prev:before {
      content: "→"; }

.slick-next {
  right: 0px; }
  [dir="rtl"] .slick-next {
    left: -25px;
    right: auto; }
  .slick-next:before {
    content: "→"; }
    [dir="rtl"] .slick-next:before {
      content: "←"; }

/* Dots */
.slick-slider {
  margin-bottom: 30px; }

.slick-dots {
  position: absolute;
  top: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  width: 100%; }
  .slick-dots li {
    position: relative;
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer; }
    .slick-dots li button {
      border: 0;
      background: transparent;
      display: block;
      height: 20px;
      width: 20px;
      outline: none;
      line-height: 0px;
      font-size: 0px;
      color: transparent;
      padding: 5px;
      cursor: pointer; }
      .slick-dots li button:hover, .slick-dots li button:focus {
        outline: none; }
        .slick-dots li button:hover:before, .slick-dots li button:focus:before {
          opacity: 1; }
      .slick-dots li button:before {
        position: absolute;
        top: 0;
        left: 0;
        content: "•";
        width: 20px;
        height: 20px;
        font-family: "slick";
        font-size: 6px;
        line-height: 20px;
        text-align: center;
        color: #376ac3;
        opacity: 0.25;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale; }
    .slick-dots li.slick-active button:before {
      color: #376ac3;
      opacity: 0.75; }

.navigation-toggle {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 10px;
  left: 10px;
  height: 44px;
  width: 44px;
  cursor: pointer; }
  @media screen and (max-width: 570px) {
    .navigation-toggle {
      opacity: 1;
      visibility: visible; } }
  @media screen and (max-width: 360px) {
    .navigation-toggle {
      border-radius: 6px;
      padding: 5px;
      background-color: rgba(255, 255, 255, 0.9);
      z-index: 9; } }
  .navigation-toggle > div {
    margin: 6px auto;
    width: 95%;
    height: 6px;
    background-color: black;
    border-radius: 12px;
    transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease; }
  .navigation-toggle:hover > div {
    background-color: #ef5552; }
  .navigation-toggle:active > {
    background-color: white; }

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 240px;
  height: 100%;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ef5350+0,e86a68+100 */
  background: #ef5350;
  /* Old browsers */
  background: -moz-linear-gradient(left, #ef5350 0%, #e86a68 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #ef5350 0%, #e86a68 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #ef5350 0%, #e86a68 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ef5350', endColorstr='#e86a68',GradientType=1 );
  /* IE6-9 */ }
  @media screen and (max-width: 570px) {
    .sidebar {
      z-index: 10;
      transform: translateX(-100%);
      -moz-transform: translateX(-100%);
      -webkit-transform: translateX(-100%);
      transition: transform 0.5s ease;
      -moz-transition: transform 0.5s ease;
      -webkit-transition: transform 0.5s ease; } }
  .sidebar .nav-menu {
    padding: 0;
    list-style-type: none; }
    .sidebar .nav-menu .menu-item {
      text-align: left;
      box-sizing: border-box;
      position: relative;
      padding: 15px 0 15px 20px;
      border-bottom: 1px solid transparent; }
      .sidebar .nav-menu .menu-item a {
        color: white;
        text-decoration: none;
        padding: 15px 20px;
        cursor: pointer;
        margin: 0;
        font-size: 15px; }
      .sidebar .nav-menu .menu-item.active {
        cursor: default; }
        .sidebar .nav-menu .menu-item.active:after {
          width: 100%; }
      .sidebar .nav-menu .menu-item:hover {
        cursor: pointer; }
        .sidebar .nav-menu .menu-item:hover:after {
          width: 100%;
          animation: neonLightBorder 4s ease;
          -webkit-animation: neonLightBorder 4s ease;
          animation-fill-mode: forwards;
          -webkit-animation-fill-mode: forwards;
          animation-iteration-count: infinite;
          -webkit-animation-iteration-count: infinite; }
      .sidebar .nav-menu .menu-item:after {
        content: '';
        position: absolute;
        bottom: -1px;
        right: 0;
        width: 0%;
        height: 1px;
        background-color: white;
        transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
        -moz-transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
        -webkit-transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1); }
  .sidebar .logo {
    width: 180px;
    height: auto;
    margin: 20px auto 0; }
    .sidebar .logo img {
      width: 100%;
      height: auto; }
  .sidebar.active {
    transform: translateX(0);
    -moz-transform: translateX(0);
    -webkit-transform: translateX(0); }

@keyframes neonLightBorder {
  0% {
    background-color: #da4e4e; }
  30% {
    background-color: white; }
  50% {
    background-color: #da4e4e; }
  100% {
    background-color: #da4e4e; } }
@-webkit-keyframes neonLightBorder {
  0% {
    background-color: #da4e4e; }
  30% {
    background-color: white; }
  50% {
    background-color: #da4e4e; }
  100% {
    background-color: #da4e4e; } }
.view {
  position: fixed;
  top: 50px;
  right: 0;
  visibility: hidden;
  height: 100%;
  transform: translateX(120%);
  -moz-transform: translateX(120%);
  -webkit-transform: translateX(120%);
  transition: all 0.7s ease;
  -moz-transition: all 0.7s ease;
  -webkit-transition: all 0.7s ease; }
  @media screen and (max-width: 570px) {
    .view {
      top: 4px;
      width: 100% !important;
      z-index: 20;
      padding: 0;
      box-sizing: border-box; } }
  .view .content .title {
    margin-top: 20px; }
    .view .content .title h2 {
      font-family: "Lato-Light", sans-serif;
      text-transform: uppercase;
      font-size: 28px; }
    .view .content .title .sep {
      height: 3px;
      width: 80px;
      margin-top: 5px;
      background-color: #ef5350; }
  .view .wrapper {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    padding: 10px 20px;
    background-color: rgba(255, 255, 255, 0.9); }
  .view .title h1 {
    margin: 0; }
  .view .close#close {
    position: absolute;
    top: -24px;
    left: -26px;
    width: 50px;
    height: 50px;
    overflow: hidden;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    border-radius: 50%;
    transform: rotateZ(-43deg);
    -moz-transform: rotateZ(-43deg);
    -webkit-transform: rotateZ(-43deg);
    z-index: 1;
    background: #ffffff;
    transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    transition-delay: 0.6s;
    -moz-transition-delay: 0.6s;
    -webkit-transition-delay: 0.6s; }
    @media screen and (max-width: 570px) {
      .view .close#close {
        top: 10px;
        right: 10px;
        left: initial; } }
    .view .close#close div {
      height: 4px;
      width: 26px;
      background-color: #ef5350;
      position: absolute;
      border-radius: 8px;
      transition: all 0.4s ease;
      -moz-transition: all 0.4s ease;
      -webkit-transition: all 0.4s ease; }
      .view .close#close div:nth-child(1) {
        top: 0px;
        transform: rotateZ(87deg) translate3d(-15px, -11px, 0); }
        @media screen and (max-width: 470px) {
          .view .close#close div:nth-child(1) {
            transform: rotateZ(87deg) translate3d(22px, -11px, 0); } }
      .view .close#close div:nth-child(2) {
        top: 10px;
        transform: rotateZ(-1deg) translate3d(-28px, 12px, 0); }
        @media screen and (max-width: 470px) {
          .view .close#close div:nth-child(2) {
            transform: rotateZ(-1deg) translate3d(12px, 12px, 0); } }
    .view .close#close:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      box-sizing: border-box;
      border-top: 2px solid black;
      border-left: 2px solid black;
      border-right: 2px solid black;
      border-bottom: 2px solid transparent;
      transition: all 0.4s ease;
      -moz-transition: all 0.4s ease;
      -webkit-transition: all 0.4s ease; }
      @media screen and (max-width: 470px) {
        .view .close#close:after {
          border-top: 2px solid #ef5350;
          border-left: 2px solid #ef5350;
          border-right: 2px solid #ef5350; }
          .view .close#close:after:active {
            border-top: 2px solid black;
            border-left: 2px solid black;
            border-right: 2px solid black; } }
    .view .close#close:hover div:nth-child(1) {
      transform: rotateZ(87deg) translate3d(22px, -11px, 0); }
    .view .close#close:hover div:nth-child(2) {
      transform: rotateZ(-1deg) translate3d(12px, 12px, 0); }
    .view .close#close:hover:after {
      border-top: 2px solid #ef5350;
      border-left: 2px solid #ef5350;
      border-right: 2px solid #ef5350; }
  .view.active {
    visibility: visible;
    transform: translateX(0);
    -moz-transform: translateX(0);
    -webkit-transform: translateX(0); }
    .view.active .close#close {
      opacity: 1;
      visibility: visible; }
    .view.active:after {
      width: 100%; }
  .view:after {
    position: absolute;
    top: 0;
    right: 0;
    content: '';
    background: black;
    height: 2px;
    width: 0%;
    transition: all 1s ease;
    -moz-transition: all 1s ease;
    -webkit-transition: all 1s ease;
    animation: neonLightBackground 4s ease infinite;
    -webkit-animation: neonLightBackground 4s ease infinite;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards; }

@keyframes neonLightBackground {
  0% {
    background-color: black; }
  30% {
    background-color: #ef5350; }
  50% {
    background-color: black; }
  100% {
    background-color: black; } }
@-webkit-keyframes neonLightBackground {
  0% {
    background-color: black; }
  30% {
    background-color: #ef5350; }
  50% {
    background-color: black; }
  100% {
    background-color: black; } }
.view#about {
  width: 95%;
  max-width: 600px; }
  .view#about .content {
    height: 100%;
    position: relative; }
  .view#about .social {
    margin: 10px 0; }
    .view#about .social .icon-social {
      margin: 0 10px;
      display: inline-block;
      cursor: pointer; }
      .view#about .social .icon-social i {
        color: black;
        padding: 5px 10px;
        font-size: 24px;
        transition: color 0.4s ease;
        -moz-transition: color 0.4s ease;
        -webkit-transition: color 0.4s ease; }
      .view#about .social .icon-social:first-child {
        margin: 5px 10px 0 0; }
      .view#about .social .icon-social:last-child {
        margin: 5px 0 0 10px; }
      .view#about .social .icon-social:hover i {
        color: #ef5350; }
  .view#about .iscroll {
    position: absolute;
    top: 110px;
    bottom: 70px; }
  .view#about .content {
    opacity: 0;
    visibility: hidden;
    transition: all 0.8s ease;
    -moz-transition: all 0.8s ease;
    -webkit-transition: all 0.8s ease;
    transition-delay: 0.5s;
    -moz-transition-delay: 0.5s;
    -webkit-transition-delay: 0.5s;
    transform: translateX(100%);
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%); }
    .view#about .content .details p {
      text-align: justify;
      margin: 0 0 10px; }
    .view#about .content .bio .details {
      padding-right: 10px; }
    .view#about .content .bio .field {
      margin-bottom: 20px;
      position: relative;
      transition: transform 0.7s ease;
      -moz-transition: transform 0.7s ease;
      -webkit-transition: transform 0.7s ease;
      transform: translateX(120%);
      -moz-transform: translateX(120%);
      -webkit-transform: translateX(120%); }
      .view#about .content .bio .field label {
        display: inline-block;
        margin-right: 10px;
        min-width: 110px;
        max-width: 110px; }
      .view#about .content .bio .field p, .view#about .content .bio .field a {
        display: inline-block;
        margin: 0;
        font-size: 18px;
        color: black; }
      .view#about .content .bio .field a:hover {
        text-decoration: none; }
      .view#about .content .bio .field:after {
        content: '';
        position: absolute;
        bottom: -7px;
        left: 0;
        width: 30px;
        height: 3px;
        background-color: #ef5350; }
      .view#about .content .bio .field:nth-child(1) {
        transition-delay: 0.2s;
        -moz-transition-delay: 0.2s;
        -webkit-transition-delay: 0.2s; }
      .view#about .content .bio .field:nth-child(2) {
        transition-delay: 0.4s;
        -moz-transition-delay: 0.4s;
        -webkit-transition-delay: 0.4s; }
      .view#about .content .bio .field:nth-child(3) {
        transition-delay: 0.6s;
        -moz-transition-delay: 0.6s;
        -webkit-transition-delay: 0.6s; }
      .view#about .content .bio .field:nth-child(4) {
        transition-delay: 0.8s;
        -moz-transition-delay: 0.8s;
        -webkit-transition-delay: 0.8s; }
      .view#about .content .bio .field:nth-child(5) {
        transition-delay: 1s;
        -moz-transition-delay: 1s;
        -webkit-transition-delay: 1s; }
      .view#about .content .bio .field:nth-child(6) {
        transition-delay: 1.2s;
        -moz-transition-delay: 1.2s;
        -webkit-transition-delay: 1.2s; }
      .view#about .content .bio .field:nth-child(7) {
        transition-delay: 1.4s;
        -moz-transition-delay: 1.4s;
        -webkit-transition-delay: 1.4s; }
      .view#about .content .bio .field:nth-child(8) {
        transition-delay: 1.6s;
        -moz-transition-delay: 1.6s;
        -webkit-transition-delay: 1.6s; }
      .view#about .content .bio .field:nth-child(9) {
        transition-delay: 1.8s;
        -moz-transition-delay: 1.8s;
        -webkit-transition-delay: 1.8s; }
    .view#about .content .bio .field-button {
      background: #ef5350;
      display: inline-block;
      text-align: center;
      border-radius: 8px;
      height: 30px;
      margin-bottom: 10px;
      cursor: pointer;
      transition: all 0.1s ease;
      -moz-transition: all 0.1s ease;
      -webkit-transition: all 0.1s ease; }
      .view#about .content .bio .field-button a {
        padding: 10px 9px;
        line-height: 32px;
        font-size: 14px;
        text-transform: uppercase;
        text-decoration: none;
        color: white;
        transition: color 0.4s ease;
        -moz-transition: color 0.4s ease;
        -webkit-transition: color 0.4s ease; }
      .view#about .content .bio .field-button:hover {
        background: white; }
        .view#about .content .bio .field-button:hover a {
          color: #ef5350; }
      .view#about .content .bio .field-button:active {
        background: black; }
  .view#about.active .content {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
    -moz-transform: translateX(0);
    -webkit-transform: translateX(0); }
    .view#about.active .content .bio .field {
      transform: translateX(0);
      -moz-transform: translateX(0);
      -webkit-transform: translateX(0); }

.view#skills {
  width: 95%;
  max-width: 600px; }
  .view#skills .skill-list {
    position: absolute;
    top: 90px;
    left: 0;
    bottom: 60px;
    width: 100%;
    box-sizing: border-box; }
    @media screen and (max-width: 470px) {
      .view#skills .skill-list {
        left: 15px;
        right: 95%;
        margin: auto; } }
    .view#skills .skill-list .field {
      width: 100%;
      display: block;
      overflow: hidden;
      margin: 7px 0;
      min-height: 75px;
      opacity: 0;
      position: relative;
      padding-bottom: 5px;
      border-bottom: 1px solid #f7f7f7;
      transition: opacity 0.4s ease;
      -moz-transition: opacity 0.4s ease;
      -webkit-transition: opacity 0.4s ease; }
      .view#skills .skill-list .field .graph {
        box-sizing: border-box;
        padding: 20px 95px 0 0; }
        .view#skills .skill-list .field .graph .title {
          margin: 0 0 4px;
          font-size: 18px;
          font-family: "Lato-Light", sans-serif;
          transform: translateX(-100%);
          -moz-transform: translateX(-100%);
          -webkit-transform: translateX(-100%);
          transition: all 0.2s ease;
          -moz-transition: all 0.2s ease;
          -webkit-transition: all 0.2s ease; }
        .view#skills .skill-list .field .graph .bar {
          height: 24px;
          width: 0%;
          top: 0;
          left: 0;
          transition: all 0.7s ease;
          -moz-transition: all 0.7s ease;
          -webkit-transition: all 0.7s ease; }
        .view#skills .skill-list .field .graph .value {
          font-family: "Lato-Light", sans-serif;
          font-size: 16px;
          position: absolute;
          color: white;
          margin: 2px 0 0 6px; }
      .view#skills .skill-list .field .skill-icon {
        background-image: url(../img/logos.png);
        background-repeat: no-repeat;
        height: 75px;
        width: 75px;
        background-size: 1078px 75px;
        position: absolute;
        top: 5px;
        right: 10px;
        transform: translateX(100%);
        -moz-transform: translateX(100%);
        -webkit-transform: translateX(100%);
        transition: all 0.2s ease;
        -moz-transition: all 0.2s ease;
        -webkit-transition: all 0.2s ease; }
        @media screen and (max-width: 420px) {
          .view#skills .skill-list .field .skill-icon {
            right: 22px; } }
      .view#skills .skill-list .field:nth-child(1) .graph .bar {
        transition-delay: 0.2s;
        -moz-transition-delay: 0.2s;
        -webkit-transition-delay: 0.2s; }
      .view#skills .skill-list .field:nth-child(1) .skill-icon {
        transition-delay: 0.2s;
        -moz-transition-delay: 0.2s;
        -webkit-transition-delay: 0.2s; }
      .view#skills .skill-list .field:nth-child(2) .graph .bar {
        transition-delay: 0.4s;
        -moz-transition-delay: 0.4s;
        -webkit-transition-delay: 0.4s; }
      .view#skills .skill-list .field:nth-child(2) .skill-icon {
        transition-delay: 0.4s;
        -moz-transition-delay: 0.4s;
        -webkit-transition-delay: 0.4s; }
      .view#skills .skill-list .field:nth-child(3) .graph .bar {
        transition-delay: 0.6s;
        -moz-transition-delay: 0.6s;
        -webkit-transition-delay: 0.6s; }
      .view#skills .skill-list .field:nth-child(3) .skill-icon {
        transition-delay: 0.6s;
        -moz-transition-delay: 0.6s;
        -webkit-transition-delay: 0.6s; }
      .view#skills .skill-list .field:nth-child(4) .graph .bar {
        transition-delay: 0.8s;
        -moz-transition-delay: 0.8s;
        -webkit-transition-delay: 0.8s; }
      .view#skills .skill-list .field:nth-child(4) .skill-icon {
        transition-delay: 0.8s;
        -moz-transition-delay: 0.8s;
        -webkit-transition-delay: 0.8s; }
      .view#skills .skill-list .field:nth-child(5) .graph .bar {
        transition-delay: 1s;
        -moz-transition-delay: 1s;
        -webkit-transition-delay: 1s; }
      .view#skills .skill-list .field:nth-child(5) .skill-icon {
        transition-delay: 1s;
        -moz-transition-delay: 1s;
        -webkit-transition-delay: 1s; }
      .view#skills .skill-list .field:nth-child(6) .graph .bar {
        transition-delay: 1.2s;
        -moz-transition-delay: 1.2s;
        -webkit-transition-delay: 1.2s; }
      .view#skills .skill-list .field:nth-child(6) .skill-icon {
        transition-delay: 1.2s;
        -moz-transition-delay: 1.2s;
        -webkit-transition-delay: 1.2s; }
      .view#skills .skill-list .field:nth-child(7) .graph .bar {
        transition-delay: 1.4s;
        -moz-transition-delay: 1.4s;
        -webkit-transition-delay: 1.4s; }
      .view#skills .skill-list .field:nth-child(7) .skill-icon {
        transition-delay: 1.4s;
        -moz-transition-delay: 1.4s;
        -webkit-transition-delay: 1.4s; }
      .view#skills .skill-list .field:nth-child(8) .graph .bar {
        transition-delay: 1.6s;
        -moz-transition-delay: 1.6s;
        -webkit-transition-delay: 1.6s; }
      .view#skills .skill-list .field:nth-child(8) .skill-icon {
        transition-delay: 1.6s;
        -moz-transition-delay: 1.6s;
        -webkit-transition-delay: 1.6s; }
      .view#skills .skill-list .field:nth-child(9) .graph .bar {
        transition-delay: 1.8s;
        -moz-transition-delay: 1.8s;
        -webkit-transition-delay: 1.8s; }
      .view#skills .skill-list .field:nth-child(9) .skill-icon {
        transition-delay: 1.8s;
        -moz-transition-delay: 1.8s;
        -webkit-transition-delay: 1.8s; }
      .view#skills .skill-list .field:nth-child(10) .graph .bar {
        transition-delay: 2s;
        -moz-transition-delay: 2s;
        -webkit-transition-delay: 2s; }
      .view#skills .skill-list .field:nth-child(10) .skill-icon {
        transition-delay: 2s;
        -moz-transition-delay: 2s;
        -webkit-transition-delay: 2s; }
      .view#skills .skill-list .field:nth-child(11) .graph .bar {
        transition-delay: 2.2s;
        -moz-transition-delay: 2.2s;
        -webkit-transition-delay: 2.2s; }
      .view#skills .skill-list .field:nth-child(11) .skill-icon {
        transition-delay: 2.2s;
        -moz-transition-delay: 2.2s;
        -webkit-transition-delay: 2.2s; }
      .view#skills .skill-list .field:nth-child(12) .graph .bar {
        transition-delay: 2.4s;
        -moz-transition-delay: 2.4s;
        -webkit-transition-delay: 2.4s; }
      .view#skills .skill-list .field:nth-child(12) .skill-icon {
        transition-delay: 2.4s;
        -moz-transition-delay: 2.4s;
        -webkit-transition-delay: 2.4s; }
      .view#skills .skill-list .field:nth-child(13) .graph .bar {
        transition-delay: 2.6s;
        -moz-transition-delay: 2.6s;
        -webkit-transition-delay: 2.6s; }
      .view#skills .skill-list .field:nth-child(13) .skill-icon {
        transition-delay: 2.6s;
        -moz-transition-delay: 2.6s;
        -webkit-transition-delay: 2.6s; }
      .view#skills .skill-list .field:nth-child(14) .graph .bar {
        transition-delay: 2.8s;
        -moz-transition-delay: 2.8s;
        -webkit-transition-delay: 2.8s; }
      .view#skills .skill-list .field:nth-child(14) .skill-icon {
        transition-delay: 2.8s;
        -moz-transition-delay: 2.8s;
        -webkit-transition-delay: 2.8s; }
  .view#skills.active .skill-list .field {
    opacity: 1; }
    .view#skills.active .skill-list .field .graph .title {
      transform: translateX(0);
      -moz-transform: translateX(0);
      -webkit-transform: translateX(0); }
    .view#skills.active .skill-list .field .graph .bar.bar-1 {
      width: 1%; }
    .view#skills.active .skill-list .field .graph .bar.bar-2 {
      width: 2%; }
    .view#skills.active .skill-list .field .graph .bar.bar-3 {
      width: 3%; }
    .view#skills.active .skill-list .field .graph .bar.bar-4 {
      width: 4%; }
    .view#skills.active .skill-list .field .graph .bar.bar-5 {
      width: 5%; }
    .view#skills.active .skill-list .field .graph .bar.bar-6 {
      width: 6%; }
    .view#skills.active .skill-list .field .graph .bar.bar-7 {
      width: 7%; }
    .view#skills.active .skill-list .field .graph .bar.bar-8 {
      width: 8%; }
    .view#skills.active .skill-list .field .graph .bar.bar-9 {
      width: 9%; }
    .view#skills.active .skill-list .field .graph .bar.bar-10 {
      width: 10%; }
    .view#skills.active .skill-list .field .graph .bar.bar-11 {
      width: 11%; }
    .view#skills.active .skill-list .field .graph .bar.bar-12 {
      width: 12%; }
    .view#skills.active .skill-list .field .graph .bar.bar-13 {
      width: 13%; }
    .view#skills.active .skill-list .field .graph .bar.bar-14 {
      width: 14%; }
    .view#skills.active .skill-list .field .graph .bar.bar-15 {
      width: 15%; }
    .view#skills.active .skill-list .field .graph .bar.bar-16 {
      width: 16%; }
    .view#skills.active .skill-list .field .graph .bar.bar-17 {
      width: 17%; }
    .view#skills.active .skill-list .field .graph .bar.bar-18 {
      width: 18%; }
    .view#skills.active .skill-list .field .graph .bar.bar-19 {
      width: 19%; }
    .view#skills.active .skill-list .field .graph .bar.bar-20 {
      width: 20%; }
    .view#skills.active .skill-list .field .graph .bar.bar-21 {
      width: 21%; }
    .view#skills.active .skill-list .field .graph .bar.bar-22 {
      width: 22%; }
    .view#skills.active .skill-list .field .graph .bar.bar-23 {
      width: 23%; }
    .view#skills.active .skill-list .field .graph .bar.bar-24 {
      width: 24%; }
    .view#skills.active .skill-list .field .graph .bar.bar-25 {
      width: 25%; }
    .view#skills.active .skill-list .field .graph .bar.bar-26 {
      width: 26%; }
    .view#skills.active .skill-list .field .graph .bar.bar-27 {
      width: 27%; }
    .view#skills.active .skill-list .field .graph .bar.bar-28 {
      width: 28%; }
    .view#skills.active .skill-list .field .graph .bar.bar-29 {
      width: 29%; }
    .view#skills.active .skill-list .field .graph .bar.bar-30 {
      width: 30%; }
    .view#skills.active .skill-list .field .graph .bar.bar-31 {
      width: 31%; }
    .view#skills.active .skill-list .field .graph .bar.bar-32 {
      width: 32%; }
    .view#skills.active .skill-list .field .graph .bar.bar-33 {
      width: 33%; }
    .view#skills.active .skill-list .field .graph .bar.bar-34 {
      width: 34%; }
    .view#skills.active .skill-list .field .graph .bar.bar-35 {
      width: 35%; }
    .view#skills.active .skill-list .field .graph .bar.bar-36 {
      width: 36%; }
    .view#skills.active .skill-list .field .graph .bar.bar-37 {
      width: 37%; }
    .view#skills.active .skill-list .field .graph .bar.bar-38 {
      width: 38%; }
    .view#skills.active .skill-list .field .graph .bar.bar-39 {
      width: 39%; }
    .view#skills.active .skill-list .field .graph .bar.bar-40 {
      width: 40%; }
    .view#skills.active .skill-list .field .graph .bar.bar-41 {
      width: 41%; }
    .view#skills.active .skill-list .field .graph .bar.bar-42 {
      width: 42%; }
    .view#skills.active .skill-list .field .graph .bar.bar-43 {
      width: 43%; }
    .view#skills.active .skill-list .field .graph .bar.bar-44 {
      width: 44%; }
    .view#skills.active .skill-list .field .graph .bar.bar-45 {
      width: 45%; }
    .view#skills.active .skill-list .field .graph .bar.bar-46 {
      width: 46%; }
    .view#skills.active .skill-list .field .graph .bar.bar-47 {
      width: 47%; }
    .view#skills.active .skill-list .field .graph .bar.bar-48 {
      width: 48%; }
    .view#skills.active .skill-list .field .graph .bar.bar-49 {
      width: 49%; }
    .view#skills.active .skill-list .field .graph .bar.bar-50 {
      width: 50%; }
    .view#skills.active .skill-list .field .graph .bar.bar-51 {
      width: 51%; }
    .view#skills.active .skill-list .field .graph .bar.bar-52 {
      width: 52%; }
    .view#skills.active .skill-list .field .graph .bar.bar-53 {
      width: 53%; }
    .view#skills.active .skill-list .field .graph .bar.bar-54 {
      width: 54%; }
    .view#skills.active .skill-list .field .graph .bar.bar-55 {
      width: 55%; }
    .view#skills.active .skill-list .field .graph .bar.bar-56 {
      width: 56%; }
    .view#skills.active .skill-list .field .graph .bar.bar-57 {
      width: 57%; }
    .view#skills.active .skill-list .field .graph .bar.bar-58 {
      width: 58%; }
    .view#skills.active .skill-list .field .graph .bar.bar-59 {
      width: 59%; }
    .view#skills.active .skill-list .field .graph .bar.bar-60 {
      width: 60%; }
    .view#skills.active .skill-list .field .graph .bar.bar-61 {
      width: 61%; }
    .view#skills.active .skill-list .field .graph .bar.bar-62 {
      width: 62%; }
    .view#skills.active .skill-list .field .graph .bar.bar-63 {
      width: 63%; }
    .view#skills.active .skill-list .field .graph .bar.bar-64 {
      width: 64%; }
    .view#skills.active .skill-list .field .graph .bar.bar-65 {
      width: 65%; }
    .view#skills.active .skill-list .field .graph .bar.bar-66 {
      width: 66%; }
    .view#skills.active .skill-list .field .graph .bar.bar-67 {
      width: 67%; }
    .view#skills.active .skill-list .field .graph .bar.bar-68 {
      width: 68%; }
    .view#skills.active .skill-list .field .graph .bar.bar-69 {
      width: 69%; }
    .view#skills.active .skill-list .field .graph .bar.bar-70 {
      width: 70%; }
    .view#skills.active .skill-list .field .graph .bar.bar-71 {
      width: 71%; }
    .view#skills.active .skill-list .field .graph .bar.bar-72 {
      width: 72%; }
    .view#skills.active .skill-list .field .graph .bar.bar-73 {
      width: 73%; }
    .view#skills.active .skill-list .field .graph .bar.bar-74 {
      width: 74%; }
    .view#skills.active .skill-list .field .graph .bar.bar-75 {
      width: 75%; }
    .view#skills.active .skill-list .field .graph .bar.bar-76 {
      width: 76%; }
    .view#skills.active .skill-list .field .graph .bar.bar-77 {
      width: 77%; }
    .view#skills.active .skill-list .field .graph .bar.bar-78 {
      width: 78%; }
    .view#skills.active .skill-list .field .graph .bar.bar-79 {
      width: 79%; }
    .view#skills.active .skill-list .field .graph .bar.bar-80 {
      width: 80%; }
    .view#skills.active .skill-list .field .graph .bar.bar-81 {
      width: 81%; }
    .view#skills.active .skill-list .field .graph .bar.bar-82 {
      width: 82%; }
    .view#skills.active .skill-list .field .graph .bar.bar-83 {
      width: 83%; }
    .view#skills.active .skill-list .field .graph .bar.bar-84 {
      width: 84%; }
    .view#skills.active .skill-list .field .graph .bar.bar-85 {
      width: 85%; }
    .view#skills.active .skill-list .field .graph .bar.bar-86 {
      width: 86%; }
    .view#skills.active .skill-list .field .graph .bar.bar-87 {
      width: 87%; }
    .view#skills.active .skill-list .field .graph .bar.bar-88 {
      width: 88%; }
    .view#skills.active .skill-list .field .graph .bar.bar-89 {
      width: 89%; }
    .view#skills.active .skill-list .field .graph .bar.bar-90 {
      width: 90%; }
    .view#skills.active .skill-list .field .graph .bar.bar-91 {
      width: 91%; }
    .view#skills.active .skill-list .field .graph .bar.bar-92 {
      width: 92%; }
    .view#skills.active .skill-list .field .graph .bar.bar-93 {
      width: 93%; }
    .view#skills.active .skill-list .field .graph .bar.bar-94 {
      width: 94%; }
    .view#skills.active .skill-list .field .graph .bar.bar-95 {
      width: 95%; }
    .view#skills.active .skill-list .field .graph .bar.bar-96 {
      width: 96%; }
    .view#skills.active .skill-list .field .graph .bar.bar-97 {
      width: 97%; }
    .view#skills.active .skill-list .field .graph .bar.bar-98 {
      width: 98%; }
    .view#skills.active .skill-list .field .graph .bar.bar-99 {
      width: 99%; }
    .view#skills.active .skill-list .field .graph .bar.bar-100 {
      width: 100%; }
    .view#skills.active .skill-list .field .skill-icon {
      transform: translateX(0);
      -moz-transform: translateX(0);
      -webkit-transform: translateX(0); }

.view#work {
  width: 95%;
  max-width: 500px; }
  .view#work .work-history {
    position: absolute;
    top: 110px;
    bottom: 60px;
    left: 0;
    width: 100%; }
    @media screen and (max-width: 470px) {
      .view#work .work-history {
        top: 125px;
        bottom: 20px; } }
    .view#work .work-history .work-entry {
      position: relative;
      display: block;
      margin: 10px auto 20px;
      height: 203px;
      overflow: hidden;
      max-width: 470px; }
      @media screen and (max-width: 470px) {
        .view#work .work-history .work-entry {
          margin: 0 auto;
          width: 90%; } }
      .view#work .work-history .work-entry .opaque {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.6);
        transition: background-color 0.4s ease;
        -moz-transition: background-color 0.4s ease;
        -webkit-transition: background-color 0.4s ease; }
      .view#work .work-history .work-entry .background-image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: -1; }
        @media screen and (max-width: 420px) {
          .view#work .work-history .work-entry .background-image {
            height: 100%; } }
        .view#work .work-history .work-entry .background-image img {
          width: 100%;
          height: auto; }
          @media screen and (max-width: 420px) {
            .view#work .work-history .work-entry .background-image img {
              height: 100%; } }
      .view#work .work-history .work-entry .heading {
        position: absolute;
        top: 60px;
        left: 0;
        text-align: center;
        width: 100%;
        box-sizing: border-box;
        padding: 10px 14px; }
        @media screen and (max-width: 360px) {
          .view#work .work-history .work-entry .heading {
            top: 30px; } }
        .view#work .work-history .work-entry .heading h2 {
          font-family: "Lato-Light", sans-serif;
          font-size: 24px;
          margin: 0;
          color: white;
          transition: color 0.4 ease;
          -moz-transition: color 0.4 ease;
          -webkit-transition: color 0.4 ease; }
        .view#work .work-history .work-entry .heading .website {
          display: inline-block;
          color: white;
          margin: 5px auto;
          font-weight: bold;
          transition: color 0.4 ease;
          -moz-transition: color 0.4 ease;
          -webkit-transition: color 0.4 ease; }
          .view#work .work-history .work-entry .heading .website:hover {
            text-decoration: none; }
        .view#work .work-history .work-entry .heading .duration {
          position: relative; }
          .view#work .work-history .work-entry .heading .duration .duration-date {
            margin: 0;
            font-size: 16px;
            font-family: "Lato-Light", sans-serif;
            display: inline-block;
            color: white;
            transition: color 0.4 ease;
            -moz-transition: color 0.4 ease;
            -webkit-transition: color 0.4 ease; }
          .view#work .work-history .work-entry .heading .duration .duration {
            margin: 0px 4px;
            font-size: 12px;
            font-family: "Lato-Light", sans-serif;
            display: inline-block;
            color: white;
            transition: color 0.4 ease;
            -moz-transition: color 0.4 ease;
            -webkit-transition: color 0.4 ease; }
        .view#work .work-history .work-entry .heading .position {
          margin: 5px 0;
          font-size: 14px;
          color: white;
          font-family: "Lato-Light", sans-serif;
          font-style: italic;
          transition: color 0.4 ease;
          -moz-transition: color 0.4 ease;
          -webkit-transition: color 0.4 ease; }
      .view#work .work-history .work-entry .more {
        visibility: hidden;
        opacity: 0; }
      .view#work .work-history .work-entry:hover .opaque {
        background-color: rgba(255, 255, 255, 0.9); }
      .view#work .work-history .work-entry:hover .heading h2 {
        color: #ef5350; }
      .view#work .work-history .work-entry:hover .heading .website {
        color: #ef5350; }
      .view#work .work-history .work-entry:hover .heading .position {
        color: #ef5350; }
      .view#work .work-history .work-entry:hover .heading .duration .duration-date {
        color: #ef5350; }
      .view#work .work-history .work-entry:hover .heading .duration .duration {
        color: #ef5350; }
      .view#work .work-history .work-entry:active .opaque {
        background-color: rgba(238, 83, 80, 0.9); }
      .view#work .work-history .work-entry:active .heading h2 {
        color: white; }
      .view#work .work-history .work-entry:active .heading .website {
        color: white; }
      .view#work .work-history .work-entry:active .heading .position {
        color: white; }
      .view#work .work-history .work-entry:active .heading .duration .duration-date {
        color: white; }
      .view#work .work-history .work-entry:active .heading .duration .duration {
        color: white; }

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 99;
  visibility: hidden;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+8,000000+100&0.6+75,0+100 */
  background: -moz-linear-gradient(left, rgba(0, 0, 0, 0.6) 8%, rgba(0, 0, 0, 0.6) 75%, transparent 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.6) 8%, rgba(0, 0, 0, 0.6) 75%, transparent 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, rgba(0, 0, 0, 0.6) 8%, rgba(0, 0, 0, 0.6) 75%, transparent 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#99000000', endColorstr='#00000000',GradientType=1 );
  /* IE6-9 */
  background-size: 200% 100%;
  background-repeat: no-repeat;
  background-position-x: 200%;
  transition: all 1.5s ease;
  -moz-transition: all 1.5s ease;
  -webkit-transition: all 1.5s ease; }
  @media screen and (max-width: 420px) {
    .overlay {
      background: transparent;
      background-size: 100% 100%;
      background-position-x: 0px; } }
  .overlay .close#close {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 50px;
    height: 50px;
    overflow: hidden;
    cursor: pointer;
    border-radius: 50%;
    z-index: 1;
    opacity: 0;
    background: transparent;
    transform: translateY(-100%) rotateZ(-43deg);
    -moz-transform: translateY(-100%) rotateZ(-43deg);
    -webkit-transform: translateY(-100%) rotateZ(-43deg);
    transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease; }
    .overlay .close#close div {
      height: 4px;
      width: 26px;
      background-color: #ef5350;
      position: absolute;
      border-radius: 8px;
      transition: all 0.4s ease;
      -moz-transition: all 0.4s ease;
      -webkit-transition: all 0.4s ease; }
      .overlay .close#close div:nth-child(1) {
        top: 0px;
        transform: rotateZ(87deg) translate3d(22px, -11px, 0); }
      .overlay .close#close div:nth-child(2) {
        top: 10px;
        transform: rotateZ(-1deg) translate3d(12px, 12px, 0); }
      .overlay .close#close div:nth-child(3) {
        visibility: hidden;
        opacity: 0; }
    .overlay .close#close.back {
      right: 96%;
      transition: all 1s ease;
      -moz-transition: all 1s ease;
      -webkit-transition: all 1s ease; }
      @media screen and (max-width: 1060px) {
        .overlay .close#close.back {
          right: 92%; } }
      @media screen and (max-width: 470px) {
        .overlay .close#close.back {
          right: initial;
          left: 10px; } }
      .overlay .close#close.back div {
        height: 4px;
        width: 26px;
        background-color: #ef5350;
        position: absolute;
        border-radius: 8px;
        transition: all 1.5s ease;
        -moz-transition: all 1.5s ease;
        -webkit-transition: all 1.5s ease; }
        .overlay .close#close.back div:nth-child(1) {
          top: 0px;
          transform: rotateZ(87deg) translate3d(26px, 4px, 0); }
        .overlay .close#close.back div:nth-child(2) {
          top: 10px;
          transform: rotateZ(-1deg) translate3d(8px, 5px, 0); }
        .overlay .close#close.back div:nth-child(3) {
          visibility: visible;
          opacity: 1;
          transform: rotateZ(43deg) translate3d(23px, 17px, 0);
          width: 38px; }
    .overlay .close#close:hover div {
      background-color: white; }
    .overlay .close#close:active div {
      background-color: black; }
  .overlay.show {
    visibility: visible;
    background-position-x: 0; }
    @media screen and (max-width: 420px) {
      .overlay.show {
        background: rgba(0, 0, 0, 0.8); } }
  .overlay.active .close#close {
    opacity: 1;
    transform: translateY(0) rotateZ(-43deg);
    -moz-transform: translateY(0) rotateZ(-43deg);
    -webkit-transform: translateY(0) rotateZ(-43deg); }

@media screen and (max-width: 470px) {
  .overlay {
    overflow-y: auto;
    overflow-x: hidden; } }
.overlay .overlay-view {
  opacity: 1;
  transform: translateX(0);
  -moz-transform: translateX(0);
  -webkit-transform: translateX(0);
  transition: opacity 0.7s ease, transform 0.7s ease;
  -moz-transition: opacity 0.7s ease, transform 0.7s ease;
  -webkit-transition: opacity 0.7s ease, transform 0.7s ease; }
.overlay .overlay-view#work {
  text-align: center; }
  .overlay .overlay-view#work .heading {
    position: relative;
    margin-top: 20px; }
    @media screen and (max-width: 470px) {
      .overlay .overlay-view#work .heading {
        width: 90%;
        margin: 20px auto 0;
        max-width: 320px; } }
    .overlay .overlay-view#work .heading .details {
      position: relative;
      z-index: 2;
      padding: 7px 5px;
      margin-top: 40px;
      box-sizing: border-box; }
  .overlay .overlay-view#work .content p {
    margin: 4px 0; }
  .overlay .overlay-view#work .content p, .overlay .overlay-view#work .content span, .overlay .overlay-view#work .content strong, .overlay .overlay-view#work .content i, .overlay .overlay-view#work .content li {
    color: white;
    font-family: "Lato-Light", sans-serif;
    font-size: 18px;
    line-height: 20px; }
  .overlay .overlay-view#work .content a {
    text-decoration: underline; }
    .overlay .overlay-view#work .content a:hover {
      text-decoration: none; }
  .overlay .overlay-view#work .work-details {
    box-sizing: border-box;
    padding: 0 10px;
    max-width: 768px;
    margin: auto; }
  .overlay .overlay-view#work .field {
    margin: 0 0 15px;
    opacity: 0;
    transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transition: all 1s ease;
    -moz-transition: all 1s ease;
    -webkit-transition: all 1s ease; }
    .overlay .overlay-view#work .field label {
      font-size: 11px;
      color: white;
      font-family: "Lato-Light", sans-serif;
      text-transform: uppercase;
      display: block; }
    .overlay .overlay-view#work .field .value {
      display: inline-block;
      color: white; }
    .overlay .overlay-view#work .field .title {
      display: inline-block;
      font-family: "Lato-Light", sans-serif;
      font-size: 32px;
      margin: 0;
      color: white; }
    .overlay .overlay-view#work .field .website {
      color: white;
      font-family: "Lato-Light", sans-serif; }
      .overlay .overlay-view#work .field .website:hover {
        text-decoration: none; }
    .overlay .overlay-view#work .field .date {
      margin: 0;
      font-size: 16px;
      font-family: "Lato-Light", sans-serif;
      display: inline-block;
      color: white; }
    .overlay .overlay-view#work .field .duration {
      margin: 0px 4px;
      font-size: 12px;
      font-family: "Lato-Light", sans-serif;
      display: inline-block;
      color: white; }
    .overlay .overlay-view#work .field .position {
      font-size: 18px;
      color: white;
      font-family: "Lato-Light", sans-serif;
      margin: 0; }
    .overlay .overlay-view#work .field:nth-child(1) {
      transition-delay: 0.1s;
      -moz-transition-delay: 0.1s;
      -webkit-transition-delay: 0.1s; }
    .overlay .overlay-view#work .field:nth-child(2) {
      transition-delay: 0.2s;
      -moz-transition-delay: 0.2s;
      -webkit-transition-delay: 0.2s; }
    .overlay .overlay-view#work .field:nth-child(3) {
      transition-delay: 0.3s;
      -moz-transition-delay: 0.3s;
      -webkit-transition-delay: 0.3s; }
    .overlay .overlay-view#work .field:nth-child(4) {
      transition-delay: 0.4s;
      -moz-transition-delay: 0.4s;
      -webkit-transition-delay: 0.4s; }
  .overlay .overlay-view#work .sep {
    width: 240px;
    height: 1px;
    background-color: #868686;
    margin: 20px auto 10px;
    opacity: 0;
    transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transition: all 1s ease;
    -moz-transition: all 1s ease;
    -webkit-transition: all 1s ease;
    transition-delay: 0.5s;
    -moz-transition-delay: 0.5s;
    -webkit-transition-delay: 0.5s; }
  .overlay .overlay-view#work .technologies {
    margin-top: 20px;
    width: 420px;
    text-align: center;
    margin: auto;
    opacity: 0;
    transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transition: all 1s ease;
    -moz-transition: all 1s ease;
    -webkit-transition: all 1s ease;
    transition-delay: 0.6s;
    -moz-transition-delay: 0.6s;
    -webkit-transition-delay: 0.6s; }
    .overlay .overlay-view#work .technologies label {
      font-size: 11px;
      color: white;
      font-family: "Lato-Light", sans-serif;
      text-transform: uppercase;
      display: block; }
    .overlay .overlay-view#work .technologies .list .item {
      display: inline-block;
      margin: 5px;
      background-color: #ef5350;
      padding: 2px 12px;
      border-radius: 14px;
      cursor: default;
      transition: background-color 0.4s ease;
      -moz-transition: background-color 0.4s ease;
      -webkit-transition: background-color 0.4s ease; }
      .overlay .overlay-view#work .technologies .list .item p {
        margin: 0;
        color: white;
        font-size: 12px;
        transition: color 0.4s ease;
        -moz-transition: color 0.4s ease;
        -webkit-transition: color 0.4s ease; }
      .overlay .overlay-view#work .technologies .list .item:hover {
        background-color: white; }
        .overlay .overlay-view#work .technologies .list .item:hover p {
          color: black; }
  .overlay .overlay-view#work .projects {
    width: 95%;
    margin: 20px auto 0;
    padding-bottom: 10px;
    text-align: left;
    opacity: 0;
    transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transition: all 1s ease;
    -moz-transition: all 1s ease;
    -webkit-transition: all 1s ease;
    transition-delay: 0.5s;
    -moz-transition-delay: 0.5s;
    -webkit-transition-delay: 0.5s; }
    @media screen and (max-width: 470px) {
      .overlay .overlay-view#work .projects {
        width: 80%; } }
    .overlay .overlay-view#work .projects label {
      font-size: 11px;
      color: white;
      font-family: "Lato-Light", sans-serif;
      text-transform: uppercase;
      display: block;
      text-align: center; }
    .overlay .overlay-view#work .projects .project-count {
      margin: 0px 0 0 4px;
      display: inline-block; }
    .overlay .overlay-view#work .projects .note {
      margin: 7px 0 0;
      text-align: center;
      font-size: 13px;
      font-style: italic;
      color: white;
      font-family: "Lato-Light", sans-serif; }
    .overlay .overlay-view#work .projects .list {
      margin-top: 10px;
      text-align: center;
      max-height: 600px;
      overflow: hidden;
      position: relative; }
      @media (max-height: 700px) {
        .overlay .overlay-view#work .projects .list {
          max-height: 270px; } }
      @media screen and (max-width: 470px) {
        .overlay .overlay-view#work .projects .list {
          max-height: 9999px; } }
      .overlay .overlay-view#work .projects .list .no-data {
        color: #d0d0d0;
        font-family: "Lato-Light", sans-serif;
        text-align: center;
        font-size: 18px;
        font-style: italic;
        margin: 10px 0 0; }
      .overlay .overlay-view#work .projects .list .project {
        display: inline-block;
        width: 33%;
        margin: 0;
        box-sizing: border-box;
        height: 260px;
        max-width: 416px;
        position: relative;
        overflow: hidden;
        border: 4px solid transparent;
        transition: border 0.1s ease;
        -moz-transition: border 0.1s ease;
        -webkit-transition: border 0.1s ease; }
        @media screen and (max-width: 720px) {
          .overlay .overlay-view#work .projects .list .project {
            width: 49.99%; } }
        @media screen and (max-width: 470px) {
          .overlay .overlay-view#work .projects .list .project {
            width: 95%;
            margin: 10px auto; } }
        @media screen and (max-width: 360px) {
          .overlay .overlay-view#work .projects .list .project {
            height: 220px; } }
        .overlay .overlay-view#work .projects .list .project .image {
          position: absolute;
          top: 0;
          left: 0;
          z-index: 0;
          height: 100%;
          width: 100%; }
          .overlay .overlay-view#work .projects .list .project .image .opaque {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 1;
            background-color: rgba(0, 0, 0, 0.7); }
          .overlay .overlay-view#work .projects .list .project .image img {
            width: 100%;
            height: 100%; }
        .overlay .overlay-view#work .projects .list .project .details {
          position: relative;
          z-index: 1;
          height: 100%;
          box-sizing: border-box;
          padding-top: 60px; }
          .overlay .overlay-view#work .projects .list .project .details .title {
            margin: 0 0 10px;
            color: white;
            font-family: "Lato-Light", sans-serif;
            font-size: 24px; }
          .overlay .overlay-view#work .projects .list .project .details .technologies {
            width: 90%;
            margin: auto; }
            .overlay .overlay-view#work .projects .list .project .details .technologies .item {
              display: inline-block;
              margin: 5px;
              background-color: #ef5350;
              padding: 2px 12px;
              border-radius: 14px;
              cursor: default;
              transition: background-color 0.4s ease;
              -moz-transition: background-color 0.4s ease;
              -webkit-transition: background-color 0.4s ease; }
              .overlay .overlay-view#work .projects .list .project .details .technologies .item p {
                margin: 0;
                color: white;
                font-size: 12px;
                transition: color 0.4s ease;
                -moz-transition: color 0.4s ease;
                -webkit-transition: color 0.4s ease; }
              .overlay .overlay-view#work .projects .list .project .details .technologies .item:hover {
                background-color: white; }
                .overlay .overlay-view#work .projects .list .project .details .technologies .item:hover p {
                  color: black; }
        .overlay .overlay-view#work .projects .list .project:hover {
          border: 4px solid white; }
        .overlay .overlay-view#work .projects .list .project:active {
          border: 4px solid #ef5350; }
  .overlay .overlay-view#work.hidden {
    opacity: 0;
    transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%); }
  .overlay .overlay-view#work.loading .loader {
    opacity: 1;
    visibility: visible;
    max-height: 40px; }
.overlay .overlay-view#project {
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%; }
  .overlay .overlay-view#project .heading .image {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    height: 100%;
    width: 100%; }
    .overlay .overlay-view#project .heading .image .opaque {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      background-color: rgba(0, 0, 0, 0.7); }
    .overlay .overlay-view#project .heading .image img {
      width: 100%;
      height: 100%; }
  .overlay .overlay-view#project .heading .details {
    position: relative;
    z-index: 1;
    height: 100%;
    box-sizing: border-box;
    padding-top: 60px; }
    .overlay .overlay-view#project .heading .details .title {
      margin: 0 0 10px;
      color: white;
      font-family: "Lato-Light", sans-serif;
      font-size: 24px; }
    .overlay .overlay-view#project .heading .details .technologies {
      width: 90%;
      margin: auto; }
      .overlay .overlay-view#project .heading .details .technologies .item {
        display: inline-block;
        margin: 5px;
        background-color: #ef5350;
        padding: 2px 12px;
        border-radius: 14px;
        cursor: default;
        transition: background-color 0.4s ease;
        -moz-transition: background-color 0.4s ease;
        -webkit-transition: background-color 0.4s ease; }
        .overlay .overlay-view#project .heading .details .technologies .item p {
          margin: 0;
          color: white;
          font-size: 12px;
          transition: color 0.4s ease;
          -moz-transition: color 0.4s ease;
          -webkit-transition: color 0.4s ease; }
        .overlay .overlay-view#project .heading .details .technologies .item:hover {
          background-color: white; }
          .overlay .overlay-view#project .heading .details .technologies .item:hover p {
            color: black; }
  .overlay .overlay-view#project .field {
    margin: 0 0 15px; }
    .overlay .overlay-view#project .field label {
      font-size: 11px;
      color: white;
      font-family: "Lato-Light", sans-serif;
      text-transform: uppercase;
      display: block; }
    .overlay .overlay-view#project .field .value {
      display: inline-block;
      color: white; }
    .overlay .overlay-view#project .field .title {
      display: inline-block;
      font-family: "Lato-Light", sans-serif;
      font-size: 32px;
      margin: 0;
      color: white; }
    .overlay .overlay-view#project .field .description {
      box-sizing: border-box;
      padding: 0 10px;
      max-width: 768px;
      margin: auto; }
    .overlay .overlay-view#project .field .website {
      color: white;
      font-family: "Lato-Light", sans-serif; }
      .overlay .overlay-view#project .field .website:hover {
        text-decoration: none; }
  .overlay .overlay-view#project.hidden {
    opacity: 0;
    transform: translateX(100%);
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%); }
.overlay.active .overlay-view#work .field,
.overlay.active .overlay-view#work .sep,
.overlay.active .overlay-view#work .technologies,
.overlay.active .overlay-view#work .projects {
  opacity: 1;
  transform: translateX(0);
  -moz-transform: translateX(0);
  -webkit-transform: translateX(0); }

p, a, div, span {
  font-family: "Lato-Regular", sans-serif;
  -moz-font-smoothing: subpixel-antialiased;
  -webkit-font-smoothing: subpixel-antialiased; }

.wrapper {
  width: 95%;
  max-width: 1120px;
  margin: auto;
  height: auto; }

body {
  background-color: black;
  height: 100vh;
  width: 100%;
  position: relative;
  overflow: hidden; }
  @media screen and (max-width: 470px) {
    body {
      background-color: transparent;
      background: url(../img/mobile-background.png);
      background-repeat: no-repeat;
      background-size: contain; } }

.main {
  position: relative;
  width: 100%;
  height: 100%; }

canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white; }
  @media screen and (max-width: 470px) {
    canvas {
      display: none;
      visibility: hidden;
      opacity: 0; } }

.copyright {
  position: absolute;
  bottom: 10px;
  right: 10px; }
  .copyright p {
    margin: 0;
    font-family: "Lato-Light", sans-serif;
    font-size: 10px;
    color: #888888;
    opacity: 0.8; }

.message {
  position: absolute;
  bottom: 10px;
  left: 260px; }
  @media screen and (max-width: 570px) {
    .message {
      bottom: 25px;
      left: 10px; } }
  .message #message {
    color: #888888;
    font-size: 16px;
    font-family: Lato-Light;
    margin: 0; }
    @media screen and (max-width: 470px) {
      .message #message {
        color: black; } }
    .message #message strong {
      font-family: "Lato-Bold", sans-serif;
      color: black; }
    .message #message i {
      color: black;
      font-style: italic; }

.iscroll {
  overflow: hidden;
  position: relative; }
  .iscroll .container {
    width: 100%; }

.typed-cursor {
  opacity: 1;
  -webkit-animation: blink .7s infinite;
  animation: blink .7s infinite; }

@keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-webkit-keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }
a.hover-effect img {
  border: 2px solid transparent;
  border-radius: 4px;
  transition: border 0.4s ease;
  -moz-transition: border 0.4s ease;
  -webkit-transition: border 0.4s ease; }
a.hover-effect:hover img {
  border: 2px solid white; }

.sk-circle {
  margin: 10px auto;
  width: 40px;
  height: 40px;
  max-height: 0px;
  opacity: 0;
  visibility: hidden;
  position: relative;
  transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease; }

.sk-circle .sk-child {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0; }

.sk-circle .sk-child:before {
  content: '';
  display: block;
  margin: 0 auto;
  width: 15%;
  height: 15%;
  background-color: white;
  border-radius: 100%;
  -webkit-animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
  animation: sk-circleBounceDelay 1.2s infinite ease-in-out both; }

.sk-circle .sk-circle2 {
  -webkit-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  transform: rotate(30deg); }

.sk-circle .sk-circle3 {
  -webkit-transform: rotate(60deg);
  -ms-transform: rotate(60deg);
  transform: rotate(60deg); }

.sk-circle .sk-circle4 {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg); }

.sk-circle .sk-circle5 {
  -webkit-transform: rotate(120deg);
  -ms-transform: rotate(120deg);
  transform: rotate(120deg); }

.sk-circle .sk-circle6 {
  -webkit-transform: rotate(150deg);
  -ms-transform: rotate(150deg);
  transform: rotate(150deg); }

.sk-circle .sk-circle7 {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg); }

.sk-circle .sk-circle8 {
  -webkit-transform: rotate(210deg);
  -ms-transform: rotate(210deg);
  transform: rotate(210deg); }

.sk-circle .sk-circle9 {
  -webkit-transform: rotate(240deg);
  -ms-transform: rotate(240deg);
  transform: rotate(240deg); }

.sk-circle .sk-circle10 {
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg); }

.sk-circle .sk-circle11 {
  -webkit-transform: rotate(300deg);
  -ms-transform: rotate(300deg);
  transform: rotate(300deg); }

.sk-circle .sk-circle12 {
  -webkit-transform: rotate(330deg);
  -ms-transform: rotate(330deg);
  transform: rotate(330deg); }

.sk-circle .sk-circle2:before {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s; }

.sk-circle .sk-circle3:before {
  -webkit-animation-delay: -1s;
  animation-delay: -1s; }

.sk-circle .sk-circle4:before {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s; }

.sk-circle .sk-circle5:before {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s; }

.sk-circle .sk-circle6:before {
  -webkit-animation-delay: -0.7s;
  animation-delay: -0.7s; }

.sk-circle .sk-circle7:before {
  -webkit-animation-delay: -0.6s;
  animation-delay: -0.6s; }

.sk-circle .sk-circle8:before {
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s; }

.sk-circle .sk-circle9:before {
  -webkit-animation-delay: -0.4s;
  animation-delay: -0.4s; }

.sk-circle .sk-circle10:before {
  -webkit-animation-delay: -0.3s;
  animation-delay: -0.3s; }

.sk-circle .sk-circle11:before {
  -webkit-animation-delay: -0.2s;
  animation-delay: -0.2s; }

.sk-circle .sk-circle12:before {
  -webkit-animation-delay: -0.1s;
  animation-delay: -0.1s; }

@-webkit-keyframes sk-circleBounceDelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0); }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1); } }
@keyframes sk-circleBounceDelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0); }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1); } }
