@font-face {
  font-family: 'Lato-Bold';
  src: url('../fonts/Lato-Bold.eot');
  src: url('../fonts/Lato-Bold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Lato-Bold.woff2') format('woff2'),
       url('../fonts/Lato-Bold.woff') format('woff'),
       url('../fonts/Lato-Bold.ttf') format('truetype'),
       url('../fonts/Lato-Bold.svg#Lato-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lato-Light';
  src: url('../fonts/Lato-Light.eot');
  src: url('../fonts/Lato-Light.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Lato-Light.woff2') format('woff2'),
       url('../fonts/Lato-Light.woff') format('woff'),
       url('../fonts/Lato-Light.ttf') format('truetype'),
       url('../fonts/Lato-Light.svg#Lato-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lato-Regular';
  src: url('../fonts/Lato-Regular.eot');
  src: url('../fonts/Lato-Regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Lato-Regular.woff2') format('woff2'),
       url('../fonts/Lato-Regular.woff') format('woff'),
       url('../fonts/Lato-Regular.svg#Lato-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}

$font_regular: 'Lato-Regular', sans-serif;
$font_light: 'Lato-Light', sans-serif;
$font_bold: 'Lato-Bold', sans-serif;
@mixin breakpoint($target) {
    @media screen and (max-width: $target) {
        @content;
    }
}

@mixin maxheight($target) {
  @media (max-height: $target) {
    @content;
  }
}

@import 'normalize.css';
@import 'slick.scss';
@import 'slick-theme.scss';
@import 'font-awesome.min.css';
@import 'sidebar.scss';
@import 'view.scss';
@import 'about.scss';
@import 'skills.scss';
@import 'work.scss';
@import 'overlay.scss';
@import 'overlay-work.scss';

p, a, div, span {
  font-family: $font_regular;
  -moz-font-smoothing: subpixel-antialiased;
  -webkit-font-smoothing: subpixel-antialiased;
}

.wrapper {
  width: 95%;
  max-width: 1120px;
  margin: auto;
  height: auto;
}

body {
  background-color: black;
  height: 100vh;
  width: 100%;
  position: relative;
  overflow: hidden;
  @include breakpoint(470px) {
    background-color: transparent;
    background: url(../img/mobile-background.png);
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.main {
  position: relative;
  width: 100%;
  height: 100%;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  @include breakpoint(470px) {
    display: none;
    visibility: hidden;
    opacity: 0;
  }
}

.copyright {
  position: absolute;
  bottom: 10px;
  right: 10px;

  p {
    margin: 0;
    font-family: $font_light;
    font-size: 10px;
    color: #888888;
    opacity: 0.8;
  }
}

.message {
  position: absolute;
  bottom: 10px;
  left: 260px;
  @include breakpoint(570px) {
    bottom: 25px;
    left: 10px;
  }

  #message {
    color: #888888;
    font-size: 16px;
    font-family: Lato-Light;
    margin: 0;
    @include breakpoint(470px) {
      color: black;
    }

    strong {
      font-family: $font_bold;
      color: black;
    }

    i {
      color: black;
      font-style: italic;
    }
  }
}

.iscroll {
  overflow: hidden;
  position: relative;

  .container {
    width: 100%;
  }
}

.typed-cursor {
  opacity: 1;
  -webkit-animation: blink .7s infinite;
  animation: blink .7s infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

a.hover-effect {

  img {
    border: 2px solid transparent;
    border-radius: 4px;
    transition: border 0.4s ease;
    -moz-transition: border 0.4s ease;
    -webkit-transition: border 0.4s ease;
  }

  &:hover {

    img {
      border: 2px solid white;
    }
  }
}

.sk-circle {
  margin: 10px auto;
  width: 40px;
  height: 40px;
  max-height: 0px;
  opacity: 0;
  visibility: hidden;
  position: relative;
  transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
}
.sk-circle .sk-child {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.sk-circle .sk-child:before {
  content: '';
  display: block;
  margin: 0 auto;
  width: 15%;
  height: 15%;
  background-color: white;
  border-radius: 100%;
  -webkit-animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
          animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
}
.sk-circle .sk-circle2 {
  -webkit-transform: rotate(30deg);
      -ms-transform: rotate(30deg);
          transform: rotate(30deg); }
.sk-circle .sk-circle3 {
  -webkit-transform: rotate(60deg);
      -ms-transform: rotate(60deg);
          transform: rotate(60deg); }
.sk-circle .sk-circle4 {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg); }
.sk-circle .sk-circle5 {
  -webkit-transform: rotate(120deg);
      -ms-transform: rotate(120deg);
          transform: rotate(120deg); }
.sk-circle .sk-circle6 {
  -webkit-transform: rotate(150deg);
      -ms-transform: rotate(150deg);
          transform: rotate(150deg); }
.sk-circle .sk-circle7 {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg); }
.sk-circle .sk-circle8 {
  -webkit-transform: rotate(210deg);
      -ms-transform: rotate(210deg);
          transform: rotate(210deg); }
.sk-circle .sk-circle9 {
  -webkit-transform: rotate(240deg);
      -ms-transform: rotate(240deg);
          transform: rotate(240deg); }
.sk-circle .sk-circle10 {
  -webkit-transform: rotate(270deg);
      -ms-transform: rotate(270deg);
          transform: rotate(270deg); }
.sk-circle .sk-circle11 {
  -webkit-transform: rotate(300deg);
      -ms-transform: rotate(300deg);
          transform: rotate(300deg); }
.sk-circle .sk-circle12 {
  -webkit-transform: rotate(330deg);
      -ms-transform: rotate(330deg);
          transform: rotate(330deg); }
.sk-circle .sk-circle2:before {
  -webkit-animation-delay: -1.1s;
          animation-delay: -1.1s; }
.sk-circle .sk-circle3:before {
  -webkit-animation-delay: -1s;
          animation-delay: -1s; }
.sk-circle .sk-circle4:before {
  -webkit-animation-delay: -0.9s;
          animation-delay: -0.9s; }
.sk-circle .sk-circle5:before {
  -webkit-animation-delay: -0.8s;
          animation-delay: -0.8s; }
.sk-circle .sk-circle6:before {
  -webkit-animation-delay: -0.7s;
          animation-delay: -0.7s; }
.sk-circle .sk-circle7:before {
  -webkit-animation-delay: -0.6s;
          animation-delay: -0.6s; }
.sk-circle .sk-circle8:before {
  -webkit-animation-delay: -0.5s;
          animation-delay: -0.5s; }
.sk-circle .sk-circle9:before {
  -webkit-animation-delay: -0.4s;
          animation-delay: -0.4s; }
.sk-circle .sk-circle10:before {
  -webkit-animation-delay: -0.3s;
          animation-delay: -0.3s; }
.sk-circle .sk-circle11:before {
  -webkit-animation-delay: -0.2s;
          animation-delay: -0.2s; }
.sk-circle .sk-circle12:before {
  -webkit-animation-delay: -0.1s;
          animation-delay: -0.1s; }

@-webkit-keyframes sk-circleBounceDelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  } 40% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes sk-circleBounceDelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  } 40% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}