.view {
  position: fixed;
  top: 50px;
  right: 0;
  visibility: hidden;
  height: 100%;
  transform: translateX(120%);
  -moz-transform: translateX(120%);
  -webkit-transform: translateX(120%);
  transition: all 0.7s ease;
  -moz-transition: all 0.7s ease;
  -webkit-transition: all 0.7s ease;
  @include breakpoint(570px) {
    top: 4px;
    width: 100% !important;
    z-index: 20;
    padding: 0;
    box-sizing: border-box;
  }

  .content {

    .title {
      margin-top: 20px;

      h2 {
        font-family: $font_light;
        text-transform: uppercase;
        font-size: 28px;
      }

      .sep {
        height: 3px;
        width: 80px;
        margin-top: 5px;
        background-color: #ef5350;
      }
    }
  }

  .wrapper {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    padding: 10px 20px;
    background-color: rgba(255, 255, 255, 0.9);
  }

  .title {

    h1 {
      margin: 0;
    }
  }

  .close#close {
    position: absolute;
    top: -24px;
    left: -26px;
    width: 50px;
    height: 50px;
    overflow: hidden;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    border-radius: 50%;
    transform: rotateZ(-43deg);
    -moz-transform: rotateZ(-43deg);
    -webkit-transform: rotateZ(-43deg);
    z-index: 1;
    background: #ffffff;
    transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    transition-delay: 0.6s;
    -moz-transition-delay: 0.6s;
    -webkit-transition-delay: 0.6s;
    @include breakpoint(570px) {
      top: 10px;
      right: 10px;
      left: initial;
    }

    div {
      height: 4px;
      width: 26px;
      background-color: #ef5350;
      position: absolute;
      border-radius: 8px;
      transition: all 0.4s ease;
      -moz-transition: all 0.4s ease;
      -webkit-transition: all 0.4s ease;

      &:nth-child(1) {
        top: 0px;
        transform: rotateZ(87deg) translate3d(-15px,-11px,0);
        @include breakpoint(470px) {
          transform: rotateZ(87deg) translate3d(22px,-11px,0);
        }
      }

      &:nth-child(2) {
        top: 10px;
        transform: rotateZ(-1deg) translate3d(-28px,12px,0);
        @include breakpoint(470px) {
          transform: rotateZ(-1deg) translate3d(12px,12px,0);
        }
      }
    }

    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      box-sizing: border-box;
      border-top: 2px solid black;
      border-left: 2px solid black;
      border-right: 2px solid black;
      border-bottom: 2px solid transparent;
      transition: all 0.4s ease;
      -moz-transition: all 0.4s ease;
      -webkit-transition: all 0.4s ease;

      @include breakpoint(470px) {
        border-top: 2px solid #ef5350;
        border-left: 2px solid #ef5350;
        border-right: 2px solid #ef5350;

        &:active {
          border-top: 2px solid black;
          border-left: 2px solid black;
          border-right: 2px solid black;
        }
      }
    }

    &:hover {

      div {

        &:nth-child(1) {
          transform: rotateZ(87deg) translate3d(22px,-11px,0);
        }

        &:nth-child(2) {
          transform: rotateZ(-1deg) translate3d(12px,12px,0);
        }
      }

      &:after {
        border-top: 2px solid #ef5350;
        border-left: 2px solid #ef5350;
        border-right: 2px solid #ef5350;
      }
    }
  }

  &.active {
    visibility: visible;
    transform: translateX(0);
    -moz-transform: translateX(0);
    -webkit-transform: translateX(0);

    .close#close {
      opacity: 1;
      visibility: visible;
    }

    &:after {
      width: 100%;
    }
  }

  &:after {
    position: absolute;
    top: 0;
    right: 0;
    content: '';
    background: black;
    height: 2px;
    width: 0%;
    transition: all 1s ease;
    -moz-transition: all 1s ease;
    -webkit-transition: all 1s ease;
    animation: neonLightBackground 4s ease infinite;
    -webkit-animation: neonLightBackground 4s ease infinite;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
  }
}

@keyframes neonLightBackground {
  0% {
    background-color: black;
  }

  30% {
    background-color: #ef5350;
  }

  50% {
    background-color: black;
  }

  100% {
    background-color: black;
  }
}

@-webkit-keyframes neonLightBackground {
  0% {
    background-color: black;
  }

  30% {
    background-color: #ef5350;
  }

  50% {
    background-color: black;
  }

  100% {
    background-color: black;
  }
}