.view#work {
  width: 95%;
  max-width: 500px;

  .work-history {
    position: absolute;
    top: 110px;
    bottom: 60px;
    left: 0;
    width: 100%;
    @include breakpoint(470px) {
      top: 125px;
      bottom: 20px;
    }

    .work-entry {
      position: relative;
      display: block;
      margin: 10px auto 20px;
      height: 203px;
      overflow: hidden;
      max-width: 470px;
      @include breakpoint(470px) {
        margin: 0 auto;
        width: 90%;
      }

      .opaque {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.6);
        transition: background-color 0.4s ease;
        -moz-transition: background-color 0.4s ease;
        -webkit-transition: background-color 0.4s ease;
      }

      .background-image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: -1;
        @include breakpoint(420px) {
          height: 100%;
        }

        img {
          width: 100%;
          height: auto;
          @include breakpoint(420px) {
            height: 100%;
          }
        }
      }

      .heading {
        position: absolute;
        top: 60px;
        left: 0;
        text-align: center;
        width: 100%;
        box-sizing: border-box;
        padding: 10px 14px;
        @include breakpoint(360px) {
          top: 30px;
        }

        h2 {
          font-family: $font_light;
          font-size: 24px;
          margin: 0;
          color: white;
          transition: color 0.4 ease;
          -moz-transition: color 0.4 ease;
          -webkit-transition: color 0.4 ease;
        }

        .website {
          display: inline-block;
          color: white;
          margin: 5px auto;
          font-weight: bold;
          transition: color 0.4 ease;
          -moz-transition: color 0.4 ease;
          -webkit-transition: color 0.4 ease;

          &:hover {
            text-decoration: none;
          }
        }

        .duration {
          position: relative;

          .duration-date {
            margin: 0;
            font-size: 16px;
            font-family: $font_light;
            display: inline-block;
            color: white;
            transition: color 0.4 ease;
            -moz-transition: color 0.4 ease;
            -webkit-transition: color 0.4 ease;
          }

          .duration {
            margin: 0px 4px;
            font-size: 12px;
            font-family: $font_light;
            display: inline-block;
            color: white;
            transition: color 0.4 ease;
            -moz-transition: color 0.4 ease;
            -webkit-transition: color 0.4 ease;
          }
        }

        .position {
          margin: 5px 0;
          font-size: 14px;
          color: white;
          font-family: $font_light;
          font-style: italic;
          transition: color 0.4 ease;
          -moz-transition: color 0.4 ease;
          -webkit-transition: color 0.4 ease;
        }
      }

      .more {
        visibility: hidden;
        opacity: 0;
      }

      &:hover {

        .opaque {
          background-color: rgba(255, 255, 255,0.9);
        }

        .heading {

          h2 {
            color: #ef5350;
          }

          .website {
            color: #ef5350;
          }

          .position {
            color: #ef5350;
          }

          .duration {

            .duration-date {
              color: #ef5350;
            }

            .duration {
              color: #ef5350;
            }
          }
        }
      }

      &:active {

        .opaque {
          background-color: rgba(238, 83, 80, 0.9);
        }

        .heading {

          h2 {
            color: white;
          }

          .website {
            color: white;
          }

          .position {
            color: white;
          }

          .duration {

            .duration-date {
              color: white;
            }

            .duration {
              color: white;
            }
          }
        }
      }
    }
  }

  &.active {

  }
}